openapi: 3.0.0
info:
  title: UP42 API
  description: |
    # Introduction

    This specification describes the UP42 public API. It is a work in
    progress and both updates and new endpoints are added as
    needed. If there is something that you would like to do with our
    API but is not listed here, then please write to
    [support@up42.com](mailto:support@up42.com) stating what you want
    to do via our API and we will support in setting things up so that
    we solve the issue at hand.

    The authoritative source for the specification is available at
    [github](https://github.com/up42/openapi-specification).

    # Understanding authentication and authorization

    Currently the only way to access our API is on a project by
    project basis. Meaning that the authorization token that is issued
    upon authentication can only be used in a **specific** project
    context.

    It means that a **project key** is **always** needed. Therefore you
    always need to create a project **through the UI**.

    The example below uses an example project. So the specific values of
    things like project key and project ID are given for illustration
    purposes only. In your case the values will be different.

    **Note**: Please be aware that the project ID and the project key
    allows anyone to manipulate your project (account) so be careful and
    do not share it around. Someone might find it and besides messing with
    your project it will make you incur costs and thus reduce the
    currently available credits in our platform.

    ## Requirements

    + [cURL](https://curl.haxx.se).
    + [jq](https://stedolan.github.io/jq/).

    [Bash](https://en.wikipedia.org/wiki/Bash_(Unix_shell)) is the shell
    used in this guide.

    Additionally you can use
    [jwt-cli](https://github.com/mike-engel/jwt-cli) to decode
    the token that is based on [JSON Web Token
    (JWT)](https://en.wikipedia.org/wiki/JSON_Web_Token) and uses
    a [HMAC](https://en.wikipedia.org/wiki/HMAC) based on
    [SHA-512](https://en.wikipedia.org/wiki/SHA-2) for signature encryption.

    ## Authenticating and getting the token

    The authentication uses the project key and the project ID. Both
    can be found at
    `https://console.up42.com/projects/<projectID>/settings`, where
    `<projectID>` is the project ID of a specific project.

    The project API key will be displayed there, e.g.,
    `1dJeCIVx.ex0eU6GRlXSYEo72Icw9pqud7NFbxuHqaJz`.

    In the authentication process the project ID functions as a
    username and the project key as a password in a
    [Basic Authentication](https://en.wikipedia.org/wiki/Basic_access_authentication)
    setup.

    Given a project ID `1b0015e3-cc4f-4da6-9761-fba74ba57f67` and a
    project key `1dJeCIVx.ex0eU6GRlXSYEo72Icw9pqud7NFbxuHqaJz` let us
    create two shell variables to hold each.

    > PROJ=1b0015e3-cc4f-4da6-9761-fba74ba57f67
    >  PKEY=1dJeCIVx.ex0eU6GRlXSYEo72Icw9pqud7NFbxuHqaJz

    Now we issue the cURL request:

        PTOKEN=$(curl -sX POST https://$PROJ:$PKEY@api.up42.com/oauth/token \
                   -H 'Content-Type: application/x-www-form-urlencoded' \
                   -d 'grant_type=client_credentials' | jq -r '.data.accessToken')

    Which returns:

        > echo $PTOKEN
        eyJ0eXAiOiJKV1QiLCJraWQiOiIxIiwidG9rZW5fdHlwZSI6IkFDQ0VTUyIsImFsZyI6IlJTNTEyIn0.eyJpc3MiOiJiYWNrZW5kLWNvcmUiLCJqdGkiOiI5ZGJiMDg4OS1mMGE0LTQ5MzUtOGU2MC1jOWUyNDYyZjhlMDYiLCJpYXQiOjE1NzU5NzQ3NzYsInN1YiI6IjFiMDAxNWUzLWNjNGYtNGRhNi05NzYxLWZiYTc0YmE1N2Y2NyIsImF1ZCI6IjFiMDAxNWUzLWNjNGYtNGRhNi05NzYxLWZiYTc0YmE1N2Y2NyIsImV4cCI6MTU3NTk3NTA3NiwiYXV0aG9yaXRpZXMiOlsiVklFV19QUk9KRUNUIiwiUlVOX0pPQiJdfQ.Nyv8oeAEbC5YVE-ZrIP4BxQhp6LsiO2nP_v5da9LIp_H1AeIFAXVOEatKQCJO7s2nUDl5bednIgCW4AGyTsWbMaEtZ0d5kcNCgfg-YTzqReUVB-8PRJ0ef6Gh-D-Is6_sGg3b4WiEMZFTdfN4eLxHFcbXUiUDRi-4EhM__aihrXonrHVSFNhJ2bHqpX-3oFQwCIVmU1eCusdkaR2aRcpWj4iQQxWrx9hJ7-5W0Es3ilzfFB3pDQ0l5IoTXIjNyWipcdtwVuoV8eDoe0kIwdgGDrSgpgzPTb7JjqNMreKtlcSIqkBNitHqALFoCoj_OP9YKuBxY8_cossn85p7d3pa2KSoV3Clc9O5jgWve59PCMXVrn2kX2_CjmhJQkrW0sGZEKexm3Em-UpPrdVwb8T4yXw8DIK8H6rWK5XsVac1hQ5nXeBiaAG2GN4wpkGKk8AVBBe3QP10X4uJ0q1W3IrzeVE6arFxky6xLdqvJ8OFZY0l6dnR8i1plQlrlugGsTM3dYKpO_1LAHQfwWOh80eNblsz6qRPq18Kx5U5z1FfJo5g7muPwSqut1NqM6zC86WNTcmmzpHuoZCpR4wVhrWJ5k_NvO6abUjT-dUumJoQ7Rh0Y5szOGaldKmdWR5wuNjo7OVfNV3gwrkxxySjqvc_3LiD45fXlupjgfFYdtD6hA

    We can now decode the token with the `jwt` CLI:

        > jwt decode -j -A HS512 $PTOKEN | jq '.'
    ```js
        {
           "header": {
              "typ": "JWT",
              "alg": "RS512",
              "kid": "1"
           },
           "payload": {
              "aud": "1b0015e3-cc4f-4da6-9761-fba74ba57f67",
              "authorities": [
                 "VIEW_PROJECT",
                 "RUN_JOB"
             ],
             "exp": 1575975076,
             "iat": 1575974776,
             "iss": "backend-core",
             "jti": "9dbb0889-f0a4-4935-8e60-c9e2462f8e06",
             "sub": "1b0015e3-cc4f-4da6-9761-fba74ba57f67"
           }
         }
     ```
     Looking at the `"exp"`and `"iat"`fields, respectively EXPiration
     and Issued At Time in [UNIX time](https://en.wikipedia.org/wiki/Unix_time)
     we see that the difference is 300 seconds,
     meaning that a token is valid for 5 minutes.

     The authentication and authorization mechanism are specified below
     in detail.

     Be aware also that all API requests are made over HTTPS.
  contact:
    name: API support
    email: support@up42.com
  version: '0.9'
  license:
    name: Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
    url: http://creativecommons.org/licenses/by-nc-nd/4.0/
servers:
- url: https://api.up42.com
  variables: {}
paths:
  /oauth/token:
    post:
      tags:
      - token
      summary: Get the bearer token
      description: >
        Get the bearer token necessary for all API requests.
      security:
        - basicAuth: []
      parameters:
      - name: Authorization
        in: header
        description: >-
          The `username:password` string Base64 encoded. `username` is
          the project ID and password is the project key.
        required: true
        style: simple
        schema:
          type: string
          example: >
            MWIwMDE1ZTMtY2M0Zi00ZGE2LTk3NjEtZmJhNzRiYTU3ZjY3OjFkSmVDSVZ4LmV4MGVVNkdSbFhTWUVvNzJJY3c5cHF1ZDdORmJ4dUhxYUp6Cg==
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/x-www-form-urlencoded
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: string
              example: grant_type=client_credentials
      responses:
        200:
          description: OK.
          headers: {}
          content:
            application/json:
              example:
                data:
                  accessToken: eyJ0eXAiOiJKV1QiLCJraWQiOiIxIiwidG9rZW5fdHlwZSI6IkFDQ0VTUyIsImFsZyI6IlJTNTEyIn0.eyJpc3MiOiJiYWNrZW5kLWNvcmUiLCJqdGkiOiI1ODdkMTQ3My05ODU5LTRhMDAtYTUwNS1iZTgwMDUzYmJiMzUiLCJpYXQiOjE1NzU5NzE1ODEsInN1YiI6IjFiMDAxNWUzLWNjNGYtNGRhNi05NzYxLWZiYTc0YmE1N2Y2NyIsImF1ZCI6IjFiMDAxNWUzLWNjNGYtNGRhNi05NzYxLWZiYTc0YmE1N2Y2NyIsImV4cCI6MTU3NTk3MTg4MSwiYXV0aG9yaXRpZXMiOlsiVklFV19QUk9KRUNUIiwiUlVOX0pPQiJdfQ.hgJkzcokxZQpEc5walhzDqMubBgT_ukmRLd1-mqBHZBv8hMI-7rJaLaA1-ZB5P5CgLvzUyjkeq4gwuXZgmx7Q0nufnI6qC8gxSOEGjfb-sS4wHew7zhPXwNfhuv0CmhMeHpQXyjxdlKxf4cWbhK3PVQkHMCnxvJkw1T7RJ_XolEzRN2g2ocM-hzhLM3UVhzqyeD_qVr1yCjZzs32gsekmPQkW_XmflrSgzl7AhHxQK9psC3h3H6HveT2WmnYqvnb-a3v8FJTCC21S5KCAV1qj-Hlv1vTUDRoQK5TsH4oklvnmqfU0ylmCDPRKihcyUgFvf5wdcebDgbUHHvlz8gEsTaMGEEDmfzXCQwr9e4bgzildOiqzsS2tRf2m1bJAYF-vQ5Yfsv5mt0xauTEaWARAfe5WzoLKQ7Ex3WKuLnzZlzKZ-BKQuP31rk-O4F-784RM60nto6aQh1Yl3uUVSTRMQ4SwsOO3RWvIP52CqeM4EMXjfLZDsOOuXIlmiVRXSRFi7yY0uC-5DKMkkeBw-RXh2wGMF7axB2Wo7fbcpr2vszkdbGKg-kw2bF_oHd_20riBAUBV0kWC3XGYkDOunUPLDqFhtDQRS-GlL8aDoYX8pe19qiUzLXX3QWLb95FkNyz6w8MjMEMkatSfLhrYX7PHNI3VAa59IB0NdRCi4arDig
                error: null
                access_token: eyJ0eXAiOiJKV1QiLCJraWQiOiIxIiwidG9rZW5fdHlwZSI6IkFDQ0VTUyIsImFsZyI6IlJTNTEyIn0.eyJpc3MiOiJiYWNrZW5kLWNvcmUiLCJqdGkiOiI1ODdkMTQ3My05ODU5LTRhMDAtYTUwNS1iZTgwMDUzYmJiMzUiLCJpYXQiOjE1NzU5NzE1ODEsInN1YiI6IjFiMDAxNWUzLWNjNGYtNGRhNi05NzYxLWZiYTc0YmE1N2Y2NyIsImF1ZCI6IjFiMDAxNWUzLWNjNGYtNGRhNi05NzYxLWZiYTc0YmE1N2Y2NyIsImV4cCI6MTU3NTk3MTg4MSwiYXV0aG9yaXRpZXMiOlsiVklFV19QUk9KRUNUIiwiUlVOX0pPQiJdfQ.hgJkzcokxZQpEc5walhzDqMubBgT_ukmRLd1-mqBHZBv8hMI-7rJaLaA1-ZB5P5CgLvzUyjkeq4gwuXZgmx7Q0nufnI6qC8gxSOEGjfb-sS4wHew7zhPXwNfhuv0CmhMeHpQXyjxdlKxf4cWbhK3PVQkHMCnxvJkw1T7RJ_XolEzRN2g2ocM-hzhLM3UVhzqyeD_qVr1yCjZzs32gsekmPQkW_XmflrSgzl7AhHxQK9psC3h3H6HveT2WmnYqvnb-a3v8FJTCC21S5KCAV1qj-Hlv1vTUDRoQK5TsH4oklvnmqfU0ylmCDPRKihcyUgFvf5wdcebDgbUHHvlz8gEsTaMGEEDmfzXCQwr9e4bgzildOiqzsS2tRf2m1bJAYF-vQ5Yfsv5mt0xauTEaWARAfe5WzoLKQ7Ex3WKuLnzZlzKZ-BKQuP31rk-O4F-784RM60nto6aQh1Yl3uUVSTRMQ4SwsOO3RWvIP52CqeM4EMXjfLZDsOOuXIlmiVRXSRFi7yY0uC-5DKMkkeBw-RXh2wGMF7axB2Wo7fbcpr2vszkdbGKg-kw2bF_oHd_20riBAUBV0kWC3XGYkDOunUPLDqFhtDQRS-GlL8aDoYX8pe19qiUzLXX3QWLb95FkNyz6w8MjMEMkatSfLhrYX7PHNI3VAa59IB0NdRCi4arDig
                refresh_token: null
        401:
          description: Unauthorized
          content:
            application/json:
              example:
                null
      deprecated: false
  /projects/{project_id}/settings:
    get:
      tags:
      - project-settings
      summary: Get project settings
      description: >
        Get the project settings, i.e., the limits for AOI size in square km,
        the number of simultanesouly running jobs for this project and
        the maximum number of results to be returned.
      operationId: GetProjectSettings
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  - id: cca028e6-4f24-4ea0-9564-d82ce80aac7d
                    createdAt: '2019-10-29T11:04:03.561Z'
                    updatedAt: '2019-10-29T11:04:03.561Z'
                    name: MAX_CONCURRENT_JOBS
                    value: '1'
                    range:
                      min: 1
                      max: 10
                    displayId: cca028e6
                  - id: c00d5803-76d7-4259-be17-ac5ae583f5cb
                    createdAt: '2019-10-29T11:04:03.562Z'
                    updatedAt: '2019-10-29T11:04:03.562Z'
                    name: JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
                    value: '10'
                    range:
                      min: 1
                      max: 20
                    displayId: c00d5803
                  - id: bf7d63d3-7ae0-40d3-9415-d1503a351dba
                    createdAt: '2019-10-29T11:04:03.562Z'
                    updatedAt: '2019-10-29T11:04:03.562Z'
                    name: JOB_QUERY_MAX_AOI_SIZE
                    value: '100'
                    range:
                      min: 1
                      max: 1000
                    displayId: bf7d63d3
        401:
          $ref: '#/components/responses/Unauthorized'
      deprecated: false
    put:
      tags:
      - project-settings
      summary: Update project settings
      description: >-
        Update the settings for a specific project. This includes the
        comprises the following parameters:
          + `MAX_CONCURRENT_JOBS`: maximum number of concurrent jobs.
          + `JOB_QUERY_MAX_AOI_SIZE`: maximum number of results in a data request.
          + `JOB_QUERY_MAX_AOI_SIZE`: maximum size in square km of theArea of Interest (AOI).
      operationId: UpdateProjectSettings
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateProjectSettingsRequest'
              description: ''
            example:
            - name: JOB_QUERY_MAX_AOI_SIZE
              value: 1000
            - name: MAX_CONCURRENT_JOBS
              value: 10
            - name: JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
              value: 20
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  - id: bf7d63d3-7ae0-40d3-9415-d1503a351dba
                    createdAt: '2019-10-29T11:04:03.562Z'
                    updatedAt: '2019-12-10T17:40:29.839Z'
                    name: JOB_QUERY_MAX_AOI_SIZE
                    value: '1000'
                    range:
                      min: 1
                      max: 1000
                    displayId: bf7d63d3
                  - id: cca028e6-4f24-4ea0-9564-d82ce80aac7d
                    createdAt: '2019-10-29T11:04:03.561Z'
                    updatedAt: '2019-12-10T17:40:29.848Z'
                    name: MAX_CONCURRENT_JOBS
                    value: '10'
                    range:
                      min: 1
                      max: 10
                    displayId: cca028e6
                  - id: c00d5803-76d7-4259-be17-ac5ae583f5cb
                    createdAt: '2019-10-29T11:04:03.562Z'
                    updatedAt: '2019-12-10T17:40:29.852Z'
                    name: JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
                    value: '20'
                    range:
                      min: 1
                      max: 20
                    displayId: c00d5803
        400:
          description: VALIDATION ERROR
          content:
            application/json:
              example:
                error:
                  code: VALIDATION_ERROR
                  message: 'Field "list[1].value" must be in range Range[1,10], got 100'
                  details: null
                data: null
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Not Found
          content:
            application/json:
              example:
                error:
                  code: RESOURCE_NOT_FOUND
                  message: Project not found with id '1b0015e3-cc4f-4da6-9761-fba74ba57f69'
                  details: null
                data: null
      deprecated: false
  /projects/{project_id}/workflows:
    get:
      tags:
      - workflows
      summary: Get all project specific workflows
      description: >
        Get all the workflows for a given project.
      operationId: GetWorkflows
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  - id: 1ef6c73a-a155-489e-9ec2-b073c6e74da9
                    name: S1 SLC
                    description: ''
                    createdAt: '2019-10-29T11:04:27.915Z'
                    updatedAt: '2019-10-29T11:04:38.973Z'
                    totalProcessingTime: 31
                  - id: a51a96a6-60bf-44c2-8936-b69b84711ba4
                    name: Pléaides download
                    description: ''
                    createdAt: '2019-10-29T13:32:31.460Z'
                    updatedAt: '2019-10-29T13:32:43.216Z'
                    totalProcessingTime: 152
                  - id: 266be679-37b9-4b28-948c-ffef3e4a91fd
                    name: 'Support ticket #175'
                    description: ''
                    createdAt: '2019-10-31T10:02:06.014Z'
                    updatedAt: '2019-10-31T10:02:13.517Z'
                    totalProcessingTime: 103
                  - id: b16f2676-1420-4146-b000-529b9ee2b724
                    name: Pléaides download + pan
                    description: ''
                    createdAt: '2019-10-31T10:16:39.325Z'
                    updatedAt: '2019-11-01T14:39:01.681Z'
                    totalProcessingTime: 173
                  - id: 72860ccb-836c-46cb-bf56-d6cf234ec2a8
                    name: Test multiple ndvi
                    description: ''
                    createdAt: '2019-10-31T12:11:07.788Z'
                    updatedAt: '2019-10-31T12:11:40.958Z'
                    totalProcessingTime: 0
                  - id: 17e8dc3e-2914-4011-a248-2d279d77f369
                    name: SPOT download
                    description: ''
                    createdAt: '2019-11-01T14:39:16.943Z'
                    updatedAt: '2019-11-25T15:43:36.325Z'
                    totalProcessingTime: 22
                  - id: 192b025e-75fe-4930-a611-ed08b66f8a5a
                    name: S2 AOI clipped sobloo
                    description: ''
                    createdAt: '2019-11-01T15:54:45.181Z'
                    updatedAt: '2019-11-01T15:55:17.171Z'
                  - id: ac5d9bca-7d85-46e8-ba25-90ac540b3964
                    name: Pléaides pansharpened NDVI
                    description: ''
                    createdAt: '2019-11-18T14:16:05.283Z'
                    updatedAt: '2019-11-18T15:12:07.944Z'
                    totalProcessingTime: 28
                  - id: 894ef5be-c576-4f18-8ef9-f26e9eb10d5b
                    name: S2 Sentinel Hub
                    description: ''
                    createdAt: '2019-11-19T13:43:26.022Z'
                    updatedAt: '2019-11-19T13:43:32.805Z'
                    totalProcessingTime: 642
                  - id: 18b2fc26-f56b-434f-9fcf-e53716442202
                    name: Sentinel 1 AOI clipped test
                    description: ''
                    createdAt: '2019-11-21T10:24:55.958Z'
                    updatedAt: '2019-11-21T10:25:26.027Z'
                    totalProcessingTime: 9
                  - id: 949cd962-4a5f-46a6-9d8a-64d15ccdd97b
                    name: S1 GRD
                    description: ''
                    createdAt: '2019-11-21T10:58:24.630Z'
                    updatedAt: '2019-11-21T10:58:40.514Z'
                    totalProcessingTime: 4709
        401:
          $ref: '#/components/responses/Unauthorized'
      deprecated: false
    post:
      tags:
      - workflows
      summary: Create Workflow
      description: >-
        Create or update a workflow. This call creates or updates a
        workflow resource. Then via POST requests we populate the
        workflow with tasks. This call only updates the metadata of
        the workflow. Tasks need to be updated in the
        CreateWorkflowTasks operation.
      operationId: CreateWorkflow
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      requestBody:
        description: Payload for workflow creation.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkflowRequest'
            example:
              name: My brand new workflow with Pléaides and Pansharpening.
              description: >-
                This workflow is for getting Pansharpened images with
                all the bands from Pléiades.
              id: null
              tasks: []
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  id: fc88746e-98b0-4fa7-b750-2f96cde0f385
                  name: My brand new workflow with Pléaides and Pansharpening.
                  description: This workflow is for getting Pansharpened images with all the bands from Pléiades.
                  createdAt: '2020-02-07T12:27:37.892Z'
                  updatedAt: '2020-02-07T12:27:37.892Z'
                  totalProcessingTime: 0
        400:
          description: name field is empty.
          content:
            application/json:
              example:
                data: null
                error:
                  code: 400
                  message: Field "name" must not be empty
                  details: null
        401:
          $ref: '#/components/responses/Unauthorized'
        415:
          $ref: '#/components/responses/IncorrectMediaType'
      deprecated: false
  /projects/{project_id}/workflows/{workflow_id}:
    get:
      tags:
      - workflows
      summary: Get a specific workflow
      description: Outputs a specific workflow given as workflow ID.
      operationId: GetWorkflow
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      - name: workflow_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowID'
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  id: b16f2676-1420-4146-b000-529b9ee2b724
                  name: Pléaides download + pan
                  description: ''
                  createdAt: '2019-10-31T10:16:39.325Z'
                  updatedAt: '2019-11-01T14:39:01.681Z'
                  totalProcessingTime: 173
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Not Found
          content:
            application/json:
              example:
                error:
                  code: RESOURCE_NOT_FOUND
                  message: >
                    Workflow not found for id b16f2676-1420-4146-b000-529b9ee2b720
                    and projectId 1b0015e3-cc4f-4da6-9761-fba74ba57f67
                    and userId 8cd5de7b-82e2-4625-b094-d5392f1cf780
                  details: null
                data: null
      deprecated: false
    delete:
      tags:
      - workflows
      summary: Delete Workflow
      description: >-
        Delete a workflow from a given project.
      operationId: DeleteWorkflow
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      - name: workflow_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowID'
      responses:
        204:
          description: No Content
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Not Found
          content:
            application/json:
              example:
                data: null
                error:
                  code: 404
                  message: Workflow not found for id 31f750f9-f2f5-4853-9e9b-c4713fdd68f6 and projectId 5a21eaff-cdaa-48ab-bedf-05454116d16ff and userId 8cd5de7b-82e2-4625-b094-d5392f1cf780
                  details: null
      deprecated: false
  /projects/{project_id}/workflows/{workflow_id}/tasks:
    get:
      tags:
      - workflows
      summary: Get Workflow tasks
      description: >-
        Get all the tasks in a given workflow. It retrieves all the
        information relative to workflow, including, used blocks,
        block metadata, registry URL, etc.
      operationId: GetWorkflowTasks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: workflow_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowID'
        example:
          20b6cdd2-6d53-40db-ba3a-5ec71ded1c02
      responses:
        200:
          $ref: '#/components/responses/ListWorkflowTasks'
      deprecated: false
    post:
      tags:
      - workflows
      summary: Create workflow tasks
      description: >-
        Creates or updates workflow tasks. A task is comprised of
        a block in a given workflow.
      operationId: CreateWorkflowTasks
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: workflow_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowID'
        example:
          fc88746e-98b0-4fa7-b750-2f96cde0f385
      requestBody:
        description: Create workflow task(s) payload.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateworkflowtasksRequest'
              description: >-
                The tasks in the workflow. Conmprises one or more
                tasks depending on the desired workflow.
            example:
            - name: pleiades-download
              parentName:
              blockId: defb134b-ca00-4e16-afa0-639c6dc0c5fe
            - name: pansharpening
              parentName: pleiades-download
              blockId: 903f0435-d638-475e-bbe9-53b5664a22a8
        required: true
      responses:
        200:
          $ref: '#/components/responses/WorkflowTasksCreated'
        400:
          description: Missing request body.
          headers: {}
          content:
            application/json:
              example:
                data: null
                error:
                  code: 400
                  message: 'Required request body is missing: public com.up42.core.controller.dto.Response<java.util.List<com.up42.core.controller.dto.WorkflowTaskDto>> com.up42.core.controller.WorkflowTaskController.setWorkflowTasks(java.util.UUID,java.util.UUID,java.util.List<com.up42.core.controller.dto.WorkflowTaskRequest>) throws com.up42.core.controller.exception.InvalidWorkflowException,com.up42.core.controller.exception.WorkflowNotFoundException'
                  details: null
        401:
          $ref: '#/components/responses/Unauthorized'
      deprecated: false
  /projects/{project_id}/jobs:
    get:
      tags:
      - jobs
      summary: Get Jobs
      description: >-
         Lists all the jobs in a given project.
      operationId: GetJobs
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      responses:
        200:
          $ref: '#/components/responses/ListAllJobs'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Not Found
          headers: {}
          content:
            application/json:
              example:
                data: null
                error:
                  code: 404
                  message: Project not found for id 403c5d50-240a-45c3-b1f1-10d684d285ef and userId d39fe05a-400c-44f6-b770-86990f64b004
                  details: null
      deprecated: false
  /projects/{project_id}/workflows/{workflow_id}/jobs:
    post:
      tags:
      - jobs
      summary: Create and Run Job
      description: >-
        Create and run a job with a specific workflow and input
        parameters,
      operationId: CreateAndRunJob
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: workflow_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WorkflowID'
        example:
          fc88746e-98b0-4fa7-b750-2f96cde0f385
      - name: name
        description: A name for the job.
        in: query
        schema:
          type: string
        example:
          My+newly+created+job
        required: false
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAndRunJobRequest'
        required: true
      responses:
        200:
          $ref: '#/components/responses/CreateJobResponse'
        400:
          description: Incorrect specification of tasks.
          headers: {}
          content:
            application/json:
              example:
                data: null
                error:
                  code: 400
                  message: 'There were additional tasks/queries specified: pansharpen:1, oneatla-pleiades-fullscene:1, There were missing tasks/queries: pansharpening, pleiades-download'
                  details: null
        401:
          $ref: '#/components/responses/Unauthorized'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}:
    get:
      tags:
      - jobs
      summary: Get Job
      description: Lists a specific job related information.
      operationId: GetJob
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example:
          00f35ab9-59d7-4a30-ae73-e1eab7b08d0f
      responses:
        200:
          $ref: '#/components/responses/ListSingleJob'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/tasks:
    get:
      tags:
      - jobs
      summary: Get Job tasks
      description: >-
        Lists all the taks in a specific job.
      operationId: GetJobTasks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example:
          00f35ab9-59d7-4a30-ae73-e1eab7b08d0f
      responses:
        200:
          $ref: '#/components/responses/ListSingleJobTasks'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/cancel:
    post:
      tags:
      - jobs
      summary: Cancel Job
      description: >-
        Cancel a job that is running or scheduled to run (in pending state).
      operationId: CancelJob
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example:
          403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example:
          a53b4d6a-635a-422d-837a-920387cede0e
      responses:
        204:
          description: No Content.
          headers: {}
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/outputs/data-json:
    get:
      tags:
      - job-outputs
      summary: Get Job Outputs - data.json
      description: >-
        Obtains the GeoJSON output of the job. This includes all
        metadata about the job and the tasks that comprise it. Bear in
        mind that the results of the last task in a workflow
        correspond to the overall job results.
      operationId: Get job outputs data.json
      parameters:
      - name: Accept
        in: header
        description: MIME types accepted in the response.
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example: 07328028-5b68-4d7d-ac3d-f4bbd49ead5b
      responses:
        200:
          $ref: '#/components/responses/DataJsonOutput'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/downloads/results:
    get:
      tags:
      - job-outputs
      summary: Get Job Outputs - signed url
      description: >-
        Downloads the job results tarball URL delivered as a field in
        the JSON through this call. The URL needs to be extracted, is
        the field `data.url` of the returned JSON.
      operationId: Get job outputs  signed url
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
      responses:
        200:
          $ref: '#/components/responses/JobOrTaskResultsDownload'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/logs:
    get:
      tags:
      - job-outputs
      summary: Get Job Task Logs
      description: >-
        Get the task logs as a text file.
      operationId: GetJobTaskLogs
      parameters:
      - name: Accept
        in: header
        description: MIME type accepted in the response.
        required: true
        style: simple
        schema:
          type: string
          example: text/plain
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example: 07328028-5b68-4d7d-ac3d-f4bbd49ead5b
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskID'
        example: 31c52821-d5b0-4474-b1bf-06eb24c72ee4
      responses:
        200:
          $ref: '#/components/responses/TaskLog'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/outputs/data-json:
    get:
      tags:
      - job-outputs
      summary: Get Job Task Outputs - data.json
      description: >-
        Obtains the GeoJSON output of the task. This includes all
        metadata about the job and the tasks that comprise it. Bear in
        mind that the results of the last task in a workflow
        correspond to the overall job results.
      operationId: Get job task outputs data.json
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example: 403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example: 07328028-5b68-4d7d-ac3d-f4bbd49ead5b
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskID'
      responses:
        200:
          $ref: '#/components/responses/DataJsonOutput'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/downloads/results:
    get:
      tags:
      - job-outputs
      summary: Get Job Task Outputs - signed url
      description: >-
        Download the results tarball URL for a specific task delivered
        as a field in the JSON through this call. The URL needs to be
        extracted, is the field `data.url` of the returned JSON.
      operationId: Get job task outputs
      parameters:
      - name: Accept
        in: header
        description: MIME types accepted in the response.
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example: 403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example: 07328028-5b68-4d7d-ac3d-f4bbd49ead5b
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskID'
      responses:
        200:
          $ref: '#/components/responses/JobOrTaskResultsDownload'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/outputs/quicklooks:
    get:
      tags:
      - job-outputs
      summary: Get Job Task Outputs - list quicklooks
      description: List all quicklooks available for this task.
      operationId: Get job task outputs quicklooks
      parameters:
      - name: Accept
        in: header
        description: MIME types accepted in the response.
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example: 403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
        example: 07328028-5b68-4d7d-ac3d-f4bbd49ead5b
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskID'
        example: 31c52821-d5b0-4474-b1bf-06eb24c72ee4
      responses:
        200:
          description: >-
            List of available quicklook images, i.e., low resolution
            bitmapped images that allow to preview the returned
            image. Not all tasks generate quicklooks.
          headers: {}
          content:
            application/json:
              example:
                error: null
                data:
                  - 51000727-a4ba-4185-ada9-81b33db52eb2.jpeg
      deprecated: false
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/outputs/quicklooks/{image_name}:
    get:
      tags:
      - job-outputs
      summary: Get Job Task Outputs - quicklook
      description: >-
        Get a specific quicklook image for this task.
      operationId: Get job task outputs quicklook image
      parameters:
      - name: Accept
        in: header
        description: MIME types accepted in the response.
        required: true
        style: simple
        schema:
          type: string
          example: image/jpg,image/png,image/webp
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: image/jpg,image/png,image/webp
      - name: project_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
        example: 403c5d50-240a-45c3-b1f1-10d684d285ee
      - name: job_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/JobID'
      - name: task_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/TaskID'
        example: 31c52821-d5b0-4474-b1bf-06eb24c72ee4
      - name: image_name
        in: path
        required: true
        schema:
          type: string
          description: The quicklook image name.
        example:
          51000727-a4ba-4185-ada9-81b33db52eb2.jpeg
      responses:
        200:
          description: >-
            Image file with the quicklooks, i.e., low resolution
            bitmapped image that allows to preview the result. Not all
            tasks generate quicklooks.
          headers: {}
          content:
            image/jpg:
              schema:
                type: string
                format: binary
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/JobNotFound'
      deprecated: false
  /blocks:
    get:
      tags:
      - blocks
      summary: Get Public Blocks
      description: >-
        Get the list of all the public blocks. Public blocks are
        blocks that are published in the marketplace.
      operationId: GetPublicBlocks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/PublicBlocks'
        401:
          $ref: '#/components/responses/Unauthorized'
      deprecated: false
  /blocks/{block_id}:
    get:
      tags:
      - blocks
      summary: Get Public Block detail
      description: >-
        Get the detailed listing of given public block.
      operationId: GetPublicBlockDetail
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: block_id
        in: path
        description: >-
          The ID of the block being listed in detail.
        required: true
        style: simple
        schema:
          type: string
        example:
          045019bb-06fc-4fa1-b703-318725b4d8af
      responses:
        200:
          description: ''
          headers: {}
          content:
            application/json:
              example:
                error: null
                data:
                  id: 045019bb-06fc-4fa1-b703-318725b4d8af
                  createdAt: '2019-02-21T11:01:45.209Z'
                  updatedAt: '2020-02-04T09:54:20.264Z'
                  name: oneatlas-spot-aoiclipped
                  displayName: SPOT 6/7 Streaming
                  description: SPOT imagery in GeoTIFF format. RGB and panchromatic (1.5 m) bands.
                  containerUrl: 'registry.up42.com/marketplace/oneatlas-spot-aoiclipped:gDhOjQu1of9u5zwbAM1sirA6yNDDNRqiqxrj8DlL'
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  provider: OneAtlas
                  providerWebsite: 'https://oneatlas.airbus.com/'
                  providerLogoUrl: 'https://metadata.up42.com/045019bb-06fc-4fa1-b703-318725b4d8af/Airbus_company_logo1576513426436.jpeg'
                  tags:
                    - global
                    - satellite
                    - high revisit
                    - optical
                  isPublic: true
                  isPublicVersion: true
                  isValid: true
                  parameters:
                    ids:
                      type: array
                      default: null
                    bbox:
                      type: array
                      default: null
                    time:
                      type: dateRange
                      default: '2018-01-01T00:00:00+00:00/2020-12-31T23:59:59+00:00'
                    limit:
                      type: integer
                      default: 1
                      maximum: 500
                      minimum: 1
                    contains:
                      type: geometry
                    intersects:
                      type: geometry
                    zoom_level:
                      type: integer
                      default: 17
                      maximum: 17
                      minimum: 9
                    time_series:
                      type: array
                      default: null
                    max_cloud_cover:
                      type: integer
                      default: 100
                      maximum: 100
                      minimum: 0
                    panchromatic_band:
                      type: boolean
                      default: false
                  type: DATA
                  isDryRunSupported: true
                  version: 1.5.8
                  metadata:
                    overview: |-
                      SPOT 6/7 are high-resolution twin satellites offering 1.5m resolution products. They can cover large-area in single pass up to 100,000km². They are especially designed to cover nationwide areas within a season.

                      This block provides AOI-clipped versions of the imagery from the SPOT NAOMI sensor. The output image contains all the web Mercator tiles intersecting or covering the input AOI (depending on the geometric filter used) in a resolution defined by the used zoom level (see this [link](https://wiki.openstreetmap.org/wiki/Zoom_levels) for the definition of zoom levels).

                      The available output bands of the SPOT block are: red, green, blue, and panchromatic (current version does not support NIR).The default behaviour is to only deliver RGB, the panchromatic band needs to be requested using a query parameter.

                      **Note:** This is a *Visual* imagery product that returns 3 bands (RGB) with 8 bits. Many analytics blocks cannot process the output of this block directly but need it to be pre-processed using the Raster Tiling (UP42) block. Please check the corresponding block descriptions.

                      **Technical information**

                      |Feature|Info|
                      |:-|:-|
                      |Archive date / refresh frequency | A selection of SPOT images acquired every day worldwide, since December 2017, to provide a yearly coverage of the globe.
                      |Frequency bands | Panchromatic: 0.450-0.745 μm / Blue: 0.450-0.520 μm / Green: 0.530-0.590 μm / Red: 0.625-0.695 μm / Near Infrared: 0.760-0.890 μm |
                      |Resolution|Panchromatic: 1.5m / Multispectral: 1.5m / Swath: 60km at nadir|
                      |Processing level|Ortho Bundle 8 bits Display GeoTIFF (Level3)|
                      |Data format| GeoTIFF|

                      **Band information and revisit rate**

                      | Band Category | Spatial Resolution| Revisit|
                      |:---|:----:|:---|
                      | Visible (3)          | 1.5 m  | 1 day |
                      | Near-Infrared (1)    | 1.5 m | 1 day|
                      | Panchromatic (1)     | 1.5 m | 1 day |

                      **Use cases**

                      For more information about potential use cases, see the [case study gallery](https://oneatlas.airbus.com/case-study/).

                      **More information**

                      For more information about this data, please see the block's documentation page [here](https://docs.up42.com/up42-blocks/data/spot.html) or check the [provider website](https://oneatlas.airbus.com/).
                    termsAndConditionsUrl: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/r17523_9_eula-spot1-7-vuk-oct2017.pdf'
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/0_SPOT_6-7_Avatar.jpg'
                    pricingStrategy:
                      id: 6783f72e-7a08-4cd6-8dd8-c509fb27ed5b
                      displayId: 6783f72e
                      createdAt: '2020-02-04T09:54:20.245Z'
                      updatedAt: '2020-02-04T09:54:20.245Z'
                      type: TILE_OUTPUT
                      credits: 3
                    blockMarketplaceSampleData:
                      - id: 79ad30d5-87fe-485d-a244-a1e8b4d5cc61
                        displayId: 79ad30d5
                        createdAt: '2020-02-04T09:54:20.260Z'
                        updatedAt: '2020-02-04T09:54:20.260Z'
                        value: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/SPOT_6-7_Cameroon_Ngambe_Tikar.jpg'
                        type: IMAGE
                      - id: 30b69a89-fdfd-47c2-ad08-476ac3070672
                        displayId: 30b69a89
                        createdAt: '2020-02-04T09:54:20.261Z'
                        updatedAt: '2020-02-04T09:54:20.261Z'
                        value: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/SPOT_6-7_Fiji.jpg'
                        type: IMAGE
                      - id: be3a49dc-84b4-4280-91e9-a2b24fadd532
                        displayId: be3a49dc
                        createdAt: '2020-02-04T09:54:20.262Z'
                        updatedAt: '2020-02-04T09:54:20.262Z'
                        value: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/SPOT_6-7_France_Paris.jpg'
                        type: IMAGE
                      - id: 23408cb7-dc3a-4da7-a0ee-8894b08a5f22
                        displayId: 23408cb7
                        createdAt: '2020-02-04T09:54:20.262Z'
                        updatedAt: '2020-02-04T09:54:20.262Z'
                        value: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/SPOT_6-7_Galapagos_Wolf_Volcano.jpg'
                        type: IMAGE
                      - id: 6c079f7c-ed7a-446c-a3c5-83bca861d53f
                        displayId: 6c079f7c
                        createdAt: '2020-02-04T09:54:20.263Z'
                        updatedAt: '2020-02-04T09:54:20.263Z'
                        value: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/SPOT_6-7_Namibia_Namib_Desert.jpg'
                        type: IMAGE
                  machineName: LARGE
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          description: Not Found
          content:
            application/json:
              example:
                data: null
                error:
                  code: 404
                  message: Block not found with id 045019bb-06fc-4fa1-b703-318725b4d8ef
                  details: null
      deprecated: false
  /marketplace/blocks:
    get:
      tags:
      - blocks
      summary: Get Marketplace Blocks
      description: Public endpoint to get blocks for the marketplace.
      operationId: GetMarketplaceBlocks
      parameters: []
      security: []
      responses:
        200:
          $ref: '#/components/responses/PublicBlocks'
      deprecated: false
  /validate-schema/block:
    post:
      tags:
      - block-validation
      summary: Validate Blocks Manifest
      description: >-
        Validate a block manifest  accoridng to the JSON schema definition.
      operationId: ValidateBlocksManifest
      parameters: []
      security: []
      requestBody:
        description: Block Manifest to be validated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateBlocksManifestRequest'
        required: true
      responses:
        200:
          description: OK
          headers: {}
          content:
            application/json:
              example:
                error: null
                data:
                  valid: true
                  errors: []
        400:
          description: Incorrect machine type specified.
          content:
            application/json:
              example:
                data: null
                error:
                  code: 400
                  message: 'validateBlockSchema.block: Invalid JSON for ''BLOCK'' schema version ''1'': ''#/machine/type: #: only 1 subschema matches out of 2'''
                  details: null
        415:
          $ref: '#/components/responses/IncorrectMediaType'
      deprecated: false
components:
  schemas:
    UpdateProjectSettingsRequest:
      properties:
        MAX_CONCURRENT_JOBS:
          description: The maximum number of concurrent jobs for a
            given project. This parameter is important if you are
            running parallel jobs as part of your overall workflow,
            e.g., splitting a large AOI over multiple jobs, each with
            a part of the AOI.
          type: object
          properties:
            name:
              type: string
              example: MAX_CONCURRENT_JOBS
            value:
              type: integer
              example: 10
        JOB_QUERY_MAX_AOI_SIZE:
          description: The maximum AOI size in square km. To be able
             to set it to a value up to 1000 you need to add a payment
             method to your account.
          type: object
          properties:
            name:
              type: string
              example: JOB_QUERY_MAX_AOI_SIZE
            value:
              type: integer
              example: 250
        JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE:
          description: The maximum number of results (images) to be
            returned. This applies mostly to data blocks where you
            query for data.
          properties:
            name:
              type: string
              example: JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
            value:
              type: integer
              example: 25
      required:
      - MAX_CONCURRENT_JOBS
      - JOB_QUERY_MAX_AOI_SIZE
      - JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
      title: UpdateprojectsettingsRequest
    WorkflowRequest:
      title: WorkflowRequest
      required:
      - name
      - description
      type: object
      properties:
        name:
          type: string
          description: >-
            The name of the workflow.
          maxLength: 100
        tasks:
          description: >
            A list of objects representing tasks. Since we are just
            creating the workflow, if given, this parameter must be an empty
            array `[]`.
          type: array
          items:
            type: object
          example: []
        id:
          description: >
            The ID of the workflow since the workflow is just being
            created it should be set to `null` if given in the request
            body.
          type: string
          example: null
        description:
          type: string
          description: >-
            A description of the workflow. Should be informative.
          example: A workflow for getting pansharpened images from
            Pléaides with all the available bands.
      example:
        name: My new workflow with Pléaides and Pansharpening
        description: >
          This workflow uses the Pléaides download block
          and Pansharpening to get high quality
    CreateworkflowtasksRequest:
      title: CreateWorkflowTasksRequest
      description: >-
        Create one or more tasks in a workflow.
      type: array
      items:
        required:
        - name
        - parentName
        - blockId
        type: object
        properties:
          name:
            description: The name of the task.
            type: string
            maxLength: 100
            example: Pléiades download block
          parentName:
            description: >-
              The name of the parent task. If this is the first or only
              task then it is null.
            type: string
            nullable: true
            example: null
          blockId:
            description: >-
              The UUID representing the block ID. In this case the block
              is the Pléiades download block.
            type: string
            example: defb134b-ca00-4e16-afa0-639c6dc0c5fe
    CreateAndRunJobRequest:
      title: CreateandRunJobRequest
      required:
      - pleiades-download
      - pansharpening
      type: object
      properties:
        pleiades-download:
          $ref: '#/components/schemas/PleiadesDownload'
        pansharpening:
          $ref: '#/components/schemas/Pansharpening'
    PleiadesDownload:
      title: PleiadesDownload
      required:
      - bbox
      - intersects
      - contains
      - time
      - limit
      - zoom_level
      type: object
      properties:
        bbox:
          type: string
          nullable: true
        time:
          type: string
          nullable: true
        limit:
          type: integer
          format: int32
        intersects:
          $ref: '#/components/schemas/IntersectsOrContains'
        contains:
          $ref: '#/components/schemas/IntersectsOrContains'
        zoom_level:
          type: integer
          format: int32
        ids:
          $ref: '#/components/schemas/IdsOrOrderIds'
        order_ids:
          $ref: '#/components/schemas/IdsOrOrderIds'
        time_series:
          type: array
          items:
            type: string
          nullable: true
      example:
        ids:
          - DS_PHR1A_201809212229135_FR1_PX_E172S44_0811_06543
        order_ids:
          - ce83f8b9-b892-4642-a891-6b682116bdb1
    IntersectsOrContains:
      title: Intersects
      required:
      - method
      - coordinates
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            items:
              type: number
    Pansharpening:
      title: Pansharpening
      required:
      - method
      - include_pan
      type: object
      properties:
        method:
          description: The method used for pan-sharpening the image.
          type: string
          enum:
            - SFIM
            - Esri
            - Brovey
          default: SFIM
        include_pan:
          description: >-
            Specifies to include or not the panchromatic
            band in the output or not.
          type: boolean
          default: false
      example:
        method: SFIM
        include_pan: false
    IdsOrOrderIds:
      title: IdsOrOrderIds
      description: >-
        Image IDs (scene ID) or order IDs if you previously bought the
        image.
      type: array
      items:
        type: string
        nullable: true
        default: null
      example:
        ids:
          - S1B_IW_GRDH_1SDV_20191117T084136_20191117T084201_018965_023C6E_2A28
    ValidateBlocksManifestRequest:
      title: ValidateBlocksManifestRequest
      required:
      - _up42_specification_version
      - name
      - type
      - tags
      - display_name
      - description
      - parameters
      - machine
      - internal
      - input_capabilities
      - output_capabilities
      type: object
      properties:
        _up42_specification_version:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
        tags:
          type: array
          items:
            type: string
          description: ''
        display_name:
          type: string
        description:
          type: string
        parameters:
          $ref: '#/components/schemas/Parameters'
        machine:
          $ref: '#/components/schemas/Machine'
        internal:
          $ref: '#/components/schemas/Internal'
        input_capabilities:
          $ref: '#/components/schemas/InputCapabilities'
        output_capabilities:
          $ref: '#/components/schemas/OutputCapabilities'
      example:
        _up42_specification_version: 1
        name: sentinel-1-grd-fullscene
        type: data
        tags:
          - Airbus
          - Sobloo
          - Sentinel
          - C-band
          - SAR
          - Copernicus
          - global
          - high resolution
          - environment
        display_name: Sentinel-1 L1C GRD Full Scenes
        description: Provides Sentinel-1 L1C GRD Full Scenes data in SAFE format.
        parameters:
          ids:
            type: array
            default: null
          bbox:
            type: array
            default: null
          intersects:
            type: geometry
          contains:
            type: geometry
          time:
            type: dateRange
            default: '2018-01-01T00:00:00+00:00/2020-12-31T23:59:59+00:00'
          time_series:
            type: array
            default: null
          limit:
            type: integer
            minimum: 1
            default: 1
          acquisition_mode:
            type: string
            default: null
          orbit_direction:
            type: string
            default: null
        machine:
          type: small
        optional_features:
          quicklook_supported: true
          dry_run_supported: true
        input_capabilities: {}
        output_capabilities:
          up42.data.scene.sentinel1_l1c_grd: {}
    Parameters:
      title: Parameters
      required:
      - bbox
      - intersects
      - contains
      - time
      - limit
      - zoom_level
      type: object
      properties:
        bbox:
          $ref: '#/components/schemas/Bbox'
        intersects:
          $ref: '#/components/schemas/IntersectsOrContains'
        time:
          $ref: '#/components/schemas/Time'
        limit:
          $ref: '#/components/schemas/Limit'
        zoom_level:
          $ref: '#/components/schemas/ZoomLevel'
        ids:
          $ref: '#/components/schemas/IdsOrOrderIds'
      example:
        bbox:
          type: string
          default:
        intersects:
          type: geometry
        time:
          type: dateRange
          default:
        limit:
          type: number
          default: 1
        zoom_level:
          type: number
          default: 17
    Bbox:
      title: Bbox
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: string
          nullable: true
      example:
        type: string
        default:
    Intersects1:
      title: Intersects1
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example:
        type: geometry
    Time:
      title: Time
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: string
          nullable: true
      example:
        type: dateRange
        default:
    Limit:
      title: Limit
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: integer
          format: int32
      example:
        type: number
        default: 1
    ZoomLevel:
      title: ZoomLevel
      description: ''
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: integer
          format: int32
      example:
        type: number
        default: 17
    Machine:
      title: Machine
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example:
        type: large
    Internal:
      title: Internal
      required:
      - dry_run_supported
      type: object
      properties:
        dry_run_supported:
          type: boolean
      example:
        dry_run_supported: true
    InputCapabilities:
      title: InputCapabilities
      required:
      - custom.this.is.my.capability
      type: object
      properties:
        custom.this.is.my.capability:
          type: object
      example:
        custom.this.is.my.capability: {}
    OutputCapabilities:
      title: OutputCapabilities
      required:
      - up42.data.aoiclipped
      type: object
      properties:
        up42.data.aoiclipped:
          type: object
      example:
        up42.data.aoiclipped: {}
    ProjectID:
      title: ProjectID
      description: >
        The project ID is the string that appears in the URL when in
        the console, e.g.,
        `https://console.up42.com/projects/1b0015e3-cc4f-4da6-9761-fba74ba57f67`.
        It is the component of the URL after `projects`.
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example: 1b0015e3-cc4f-4da6-9761-fba74ba57f67
    WorkflowID:
      title: WorkflowID
      description: >
        The workflow ID is the UUID for a specific workflow, e.g., in the URL
        `https://console.up42.com/projects/1b0015e3-cc4f-4da6-9761-fba74ba57f67/workflows/b16f2676-1420-4146-b000-529b9ee2b724`.
        It is the component of the URL after `workflows`.
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example: b16f2676-1420-4146-b000-529b9ee2b724
    JobID:
      title: JobID
      description: >
        The job ID is the UUID for a specific job, e.g., in the URL
        `https://console.up42.com/projects/1b0015e3-cc4f-4da6-9761-fba74ba57f67/jobs/4a90c5ad-7c2f-4b39-9409-55a3a7ad8640`.
        It ihe component of the URL after `jobs`.
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example: 4a90c5ad-7c2f-4b39-9409-55a3a7ad8640
    TaskID:
      title: TaskID
      description: >
        The task ID is the UUID for a specific task in a job, e.g., in the URL
        `https://console.up42.com/projects/1b0015e3-cc4f-4da6-9761-fba74ba57f67/jobs/4a90c5ad-7c2f-4b39-9409-55a3a7ad8640/tasks/46599eb5-f9dd-4f50-9569-0cbfe27be200`
        it is the last component of the URL after `tasks`.
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example: 0ee10645-d774-401e-87a2-c292883c261c
  responses:
    PublicBlocks:
      description: OK
      content:
        application/json:
            example:
              error: null
              data:
                - id: 045019bb-06fc-4fa1-b703-318725b4d8af
                  displayId: 045019bb
                  createdAt: '2019-02-21T11:01:45.209Z'
                  updatedAt: '2020-02-04T09:54:20.264Z'
                  name: oneatlas-spot-aoiclipped
                  displayName: SPOT 6/7 Streaming
                  description: SPOT imagery in GeoTIFF format. RGB and panchromatic (1.5 m) bands.
                  provider: OneAtlas
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/SPOT_AOI/0_SPOT_6-7_Avatar.jpg'
                    pricingStrategy:
                      type: TILE_OUTPUT
                      credits: 3
                  version: 1.5.8
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - global
                    - satellite
                    - high revisit
                    - optical
                  isPublicVersion: true
                - id: 3e146dd6-2b67-4d6e-a422-bb3d973e32ff
                  displayId: 3e146dd6
                  createdAt: '2019-02-21T11:02:11.535Z'
                  updatedAt: '2020-01-27T09:42:20.964Z'
                  name: tiling
                  displayName: Raster Tiling
                  description: Clips rasters into tiles for machine learning algorithms.
                  provider: UP42
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/3e146dd6-2b67-4d6e-a422-bb3d973e32ff/Raster_Tiling_Thumbnail1576666074656.png'
                    pricingStrategy:
                      type: MEGABYTE_INPUT
                      credits: 1
                  version: 1.3.6
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - raster
                    - processing
                  isPublicVersion: true
                - id: 98c1acfa-c141-4095-b2e6-acf52d110178
                  displayId: 98c1acfa
                  createdAt: '2019-02-21T11:02:28.515Z'
                  updatedAt: '2020-02-04T16:59:04.796Z'
                  name: sobloo-s2-l1c-fullscene
                  displayName: Sentinel-2 L1C MSI Full Scenes
                  description: Provides Sentinel-2 L1C MSI Full Scenes data in SAFE format.
                  provider: Sobloo
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Sobloo/S2-L1C-GRD-Full-Scene/0_Sentinel2_Avatar_2.jpg'
                    pricingStrategy:
                      type: MEGABYTE_OUTPUT
                      credits: 0
                  version: 1.3.10
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.scene.sentinel2_l1c
                  tags:
                    - global
                    - satellite
                    - optical
                    - multispectral
                  isPublicVersion: true
                - id: 18d09f1a-3197-4c27-a15a-54d099c31435
                  displayId: 18d09f1a
                  createdAt: '2019-02-21T11:02:55.418Z'
                  updatedAt: '2020-02-04T09:54:53.198Z'
                  name: oneatlas-pleiades-aoiclipped
                  displayName: Pléiades Streaming
                  description: Pléiades imagery in GeoTIFF format. Pan-sharpened RGB and panchromatic (0.5 m) bands.
                  provider: OneAtlas
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/Pleiades_HR_AOI/0_Pleiades_1A-1B_Avatar.jpg'
                    pricingStrategy:
                      type: TILE_OUTPUT
                      credits: 3
                  version: 1.5.8
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - global
                    - satellite
                    - high revisit
                    - optical
                  isPublicVersion: true
                - id: b623400c-c5ac-40af-bda2-0d2734aa9dd1
                  displayId: b623400c
                  createdAt: '2019-02-21T11:03:12.451Z'
                  updatedAt: '2020-02-04T16:59:59.270Z'
                  name: sobloo-s1-grd-fullscene
                  displayName: Sentinel-1 L1C GRD Full Scenes
                  description: Provides Sentinel-1 L1C GRD Full Scenes data in SAFE format.
                  provider: Sobloo
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Sobloo/S1-L1C-GRD-Full-Scene/0_Sentinel1_Avatar_2.jpg'
                    pricingStrategy:
                      type: MEGABYTE_OUTPUT
                      credits: 0
                  version: 1.3.6
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.scene.sentinel1_l1c_grd
                  tags:
                    - SAR
                    - global
                    - satellite
                  isPublicVersion: true
                - id: 8c6baae9-d50e-406c-b4ac-e211caa6229d
                  displayId: 8c6baae9
                  createdAt: '2019-03-05T10:13:15.819Z'
                  updatedAt: '2020-01-22T14:34:32.425Z'
                  name: snap-polarimetric
                  displayName: SNAP Polarimetric Processing
                  description: This block provides a common polarimetric processing workflow with SNAP that operates ESA SAFE format scenes.
                  provider: UP42
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/8c6baae9-d50e-406c-b4ac-e211caa6229d/SNAP_Polarimetric_Processing_Thumbnail1576666188823.png'
                    pricingStrategy:
                      type: MEGABYTE_OUTPUT
                      credits: 1
                  version: 1.4.1-public
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.scene.sentinel1_l1c_grd
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - SAR
                    - processing
                  isPublicVersion: true
                - id: 05796180-75ea-4194-a836-7bd2325457cc
                  displayId: 05796180
                  createdAt: '2019-03-07T09:30:46.440Z'
                  updatedAt: '2019-12-17T12:35:27.616Z'
                  name: spacemetric-cloud-mask
                  displayName: Sentinel-2 Enhanced Cloud Mask Generation
                  description: The block provides a more reliable identification of clouds in Sentinel-2 imagery than the cloud mask data included with the L1C and L2A products from ESA. The block processes a granule and generates an image with the same coverage indicating whether pixels are affected by clouds.
                  provider: Spacemetric
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Spacemetric/CloudMasking/S2_frankfurt_300.gif'
                    pricingStrategy:
                      type: MEGABYTE_INPUT
                      credits: 1
                  version: 1.0.0-public+4
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.scene.sentinel2_l1c
                  outputCapabilities:
                    - name: custom.processing.cloudmask
                  tags:
                    - processing
                  isPublicVersion: true
                - id: bab72a1d-c95a-4c42-8cdb-3d915198002a
                  displayId: bab72a1d
                  createdAt: '2019-03-11T10:57:45.204Z'
                  updatedAt: '2019-12-17T13:27:05.132Z'
                  name: stops-itoworld
                  displayName: Ito Stops Data Block
                  description: This is a data block from querying stops within a geometry
                  provider: ITO World
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/ITOWorld/London_Bus_stops/ito_icon.jpg'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 1
                  version: 1.0.0-public+3
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities: []
                  tags:
                    - vector
                    - location
                  isPublicVersion: true
                - id: 4123fe57-3b79-4b74-a6ef-f7bb9d08e028
                  displayId: 4123fe57
                  createdAt: '2019-03-24T23:42:31.918Z'
                  updatedAt: '2019-12-17T10:01:35.142Z'
                  name: aiads_rgb_t3
                  displayName: Temporal Change Detection
                  description: Automated Image Anomaly Detection System. Finds Spectrographic anomalies by using Temporal Change Detection
                  provider: Simularity
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://app.brandmark.io/v2/brand/download/?id=5cab7cb2b982af0ed7b05fcfe19a2255471dd2d35a163&type=svg&file=color.svg'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 200
                  version: 1.1.4-public+2
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: custom.aiads
                  tags:
                    - detection
                    - change
                    - processing
                  isPublicVersion: true
                - id: a09e65e0-4c57-415e-8a33-969a287d89af
                  displayId: a09e65e0
                  createdAt: '2019-03-27T13:17:12.231Z'
                  updatedAt: '2019-12-17T13:30:04.028Z'
                  name: farearth/up42/house-detection
                  displayName: Settlement Mapping
                  description: 'Settlement Mapping Block for developing countries in order to track dwelling count, dwelling size and settlement expansion to measure sustainable development goals. This block takes Pleiades input data and outputs a mask of dwellings.'
                  provider: Pinkmatter
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Pinkmatter/SettlementMapping/Settlement-Mapping-Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 200
                  version: 1.0.1-public
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - analytics
                    - machine learning
                    - object
                  isPublicVersion: true
                - id: 288bceb5-e78d-4eab-9a0f-43dc941fd502
                  displayId: 288bceb5
                  createdAt: '2019-04-01T09:01:21.687Z'
                  updatedAt: '2020-02-03T12:30:07.856Z'
                  name: up42-viewshed
                  displayName: Viewshed Processing
                  description: This is a processing block for calculating a viewshed over a digital elevation model.
                  provider: Airbus
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Airbus_Radar/Viewshed/0_Viewshed_Avatar.jpg'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 1
                  version: 1.0.0-public+2
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: custom.airbus.data.dem
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - elevation
                    - processing
                    - location
                  isPublicVersion: true
                - id: a17dff51-9a0f-4052-9d2c-fd232c08540d
                  displayId: a17dff51
                  createdAt: '2019-04-02T10:44:12.961Z'
                  updatedAt: '2019-12-17T14:59:02.720Z'
                  name: up42-wd90-datablock
                  displayName: WorldDEM 90m BBOX - Clipped
                  description: This is the data block for using WorldDEM elevation data in 90m resolution
                  provider: OneAtlas
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Airbus_Radar/WorldDEM_90/0_WorldDEM90_Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_OUTPUT
                      credits: 1
                  version: 1.0.3-public+7
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: custom.airbus.data.dem
                  tags:
                    - elevation
                  isPublicVersion: true
                - id: ea5aff1f-cf56-46a6-a28f-d192a37ec446
                  displayId: ea5aff1f
                  createdAt: '2019-04-03T22:27:24.651Z'
                  updatedAt: '2019-12-17T10:09:55.700Z'
                  name: sim_dra
                  displayName: Simularity Dynamic Range Adjustment using Histogram Equalization
                  description: Generate an RGBA Image where the histogram of colors is equalized
                  provider: Simularity
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'http://tinyurl.com/Simularty-DRA'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 50
                  version: 1.0.0-public+4
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - processing
                    - conversion
                  isPublicVersion: true
                - id: 79e3e48c-d65f-4528-a6d4-e8d20fecc93c
                  displayId: 79e3e48c
                  createdAt: '2019-04-04T08:38:19.144Z'
                  updatedAt: '2020-01-31T16:09:28.149Z'
                  name: ship-detection
                  displayName: Ship Detection
                  description: Detects ships on SPOT and Pleiades imagery (with SPOT imagery resolution).
                  provider: Airbus
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/Ship_Detection/0_Ship_Detection_Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 300
                  version: 5.1.1-public
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities: []
                  tags:
                    - analytics
                    - detection
                    - machine learning
                    - object
                  isPublicVersion: true
                - id: 018dfb34-fc19-4334-8125-14fd7535f979
                  displayId: 018dfb34
                  createdAt: '2019-04-05T08:34:53.095Z'
                  updatedAt: '2020-01-30T10:44:07.005Z'
                  name: sentinelhub-s2-aoiclipped
                  displayName: Sentinel-2 Level 2 (BOA) AOI clipped
                  description: Provides Sentinel-2 imagery in GeoTIFF format.
                  provider: Sentinel Hub
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://storage.googleapis.com/metadata-interstellar-staging/SentinelHub/Sentinel2_L2AAOI/Sentinel-2-L2A-AOI-avatar.png'
                    pricingStrategy:
                      type: MEGAPIXEL_OUTPUT
                      credits: 1
                  version: 1.1.4
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - global
                    - satellite
                    - optical
                  isPublicVersion: true
                - id: e924d32d-cafa-45bf-a260-5eb0d0295750
                  displayId: e924d32d
                  createdAt: '2019-04-16T08:51:01.540Z'
                  updatedAt: '2020-01-31T15:35:55.095Z'
                  name: wind_turbines
                  displayName: Wind Turbines Detection
                  description: 'This is a processing block that detects wind turbines on 256x256 TIFF images (zoom: 16)'
                  provider: Airbus
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/Wind_Turbine_Detection/0_Wind_Turbines_Detection_Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 100
                  version: 1.0.0-public+6
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities: []
                  tags:
                    - analytics
                    - detection
                    - machine learning
                    - object
                  isPublicVersion: true
                - id: e271b0f9-afc8-45db-9c2e-037101ce5b53
                  displayId: e271b0f9
                  createdAt: '2019-04-16T11:22:54.923Z'
                  updatedAt: '2020-01-31T15:25:12.376Z'
                  name: storage_tank
                  displayName: Storage Tank Detection
                  description: 'This is a processing block that detects storage tanks on 384x384 GeoTIFF images (zoom: 16)'
                  provider: Airbus
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/Oil_Storage_Tank_Detection/0_Oil_Storage_Tanks_Detection_Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 100
                  version: 1.0.1
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities: []
                  tags:
                    - analytics
                    - detection
                    - machine learning
                    - object
                  isPublicVersion: true
                - id: 95519b2d-09d7-4cd0-a321-4d6a46bef6c1
                  displayId: 95519b2d
                  createdAt: '2019-04-23T06:46:46.677Z'
                  updatedAt: '2020-01-30T10:44:34.656Z'
                  name: sentinelhub-landsat8-aoiclipped
                  displayName: Landsat-8 Level 1 (TOA) AOI clipped
                  description: Provides Landsat-8 imagery in GeoTIFF format.
                  provider: Sentinel Hub
                  type: DATA
                  metadata:
                    blockThumbnailUrl: 'https://storage.googleapis.com/metadata-interstellar-staging/SentinelHub/Landsat8/Landsat-8-Avatar.png'
                    pricingStrategy:
                      type: MEGAPIXEL_OUTPUT
                      credits: 1
                  version: 1.1.4
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - global
                    - satellite
                    - optical
                  isPublicVersion: true
                - id: 6c379120-9789-448c-8ef0-bf80e9722f64
                  displayId: 6c379120
                  createdAt: '2019-05-14T23:04:08.782Z'
                  updatedAt: '2019-12-17T13:32:36.395Z'
                  name: coreg
                  displayName: Co-Registration
                  description: Performs automatic detection and correction of sub-pixel misalignments between various remote sensing datasets. It is independent of spatial or spectral characteristics and robust against high degrees of cloud coverage and spectral and temporal land cover dynamics.
                  provider: Simularity
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Simularity/COREG/Simularity_Coregistration_Coreg_logo.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 50
                  version: 1.0.0
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - processing
                  isPublicVersion: true
                - id: b5b6ac43-287e-41ed-bf1a-36587a9273b5
                  displayId: b5b6ac43
                  createdAt: '2019-07-01T08:48:27.571Z'
                  updatedAt: '2019-12-19T09:20:17.850Z'
                  name: qzsolutions.ndvi
                  displayName: NDVI Calculator
                  description: Calculate Normalized difference vegetation index (NDVI) for satellite photos.
                  provider: QZ Solutions
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/QZ-Solutions/logo.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 1
                  version: 1.2.0-public
                  isPublic: true
                  isValid: true
                  inputCapabilities: []
                  outputCapabilities:
                    - name: custom.qzsolutions.ndvi
                  tags:
                    - vegetation
                    - index
                    - ndvi
                  isPublicVersion: true
                - id: 6559a2d2-f023-461a-a14d-f094618c9ba0
                  displayId: 6559a2d2
                  createdAt: '2019-07-23T07:18:33.761Z'
                  updatedAt: '2019-12-17T13:06:31.794Z'
                  name: ndwi
                  displayName: Normalized Difference Water Index
                  description: |-
                    Calculates Normalized Difference Water Index(NDWI) from satellite images.
                     Supported Satellites : Sentinel-2, Landsat-8, Pleiades 1A/1B and SPOT 6/7.
                  provider: Vasundharaa
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Vasundharaa/Normalized_Difference_Water_Index1575968305942.jpg'
                    pricingStrategy:
                      type: MEGABYTE_INPUT
                      credits: 1
                  version: 2.0.1
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - vegetation
                    - index
                    - ndvi
                  isPublicVersion: true
                - id: 98c6c8ec-0ec7-4019-bb3a-9a215ef6fea1
                  displayId: 98c6c8ec
                  createdAt: '2019-07-23T09:13:19.872Z'
                  updatedAt: '2019-12-17T13:06:05.656Z'
                  name: ndvi
                  displayName: Normalized Difference Vegetation Index
                  description: |-
                    Calculates Normalized Difference Vegetation Index(NDVI) from satellite images.
                     Supported Satellites : Sentinel-2, Landsat-8, Pleiades 1A/1B and SPOT 6/7.
                  provider: Vasundharaa
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Vasundharaa/Normalized_Difference_Vegetation_Index1575968284100.jpg'
                    pricingStrategy:
                      type: MEGABYTE_INPUT
                      credits: 1
                  version: 1.0.1
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: up42.data.aoiclipped
                  tags:
                    - imagery
                    - vegetation
                    - index
                    - ndvi
                  isPublicVersion: true
                - id: 7d8dda9f-db1e-4645-9c1b-e056e0bdc698
                  displayId: 7d8dda9f
                  createdAt: '2019-07-25T16:04:14.892Z'
                  updatedAt: '2020-01-31T16:02:53.325Z'
                  name: orbital_pleiades_cars
                  displayName: Car Detection
                  description: This is a processing block that detects cars on 1232x1232 GeoTIFF images
                  provider: Orbital Insight
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Orbital_Insight/Car_Detection/Cars_Algo_Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 300
                  version: 1.0.0-public+4
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities: []
                  tags:
                    - analytics
                    - detection
                    - machine learning
                    - object
                  isPublicVersion: true
                - id: 33e75b50-16da-43ef-afca-07e19ebf12f1
                  displayId: 33e75b50
                  createdAt: '2019-07-25T16:06:26.272Z'
                  updatedAt: '2020-01-31T15:57:10.323Z'
                  name: orbital_pleiades_trucks
                  displayName: Truck Detection
                  description: This is a processing block that detects trucks on 1232x1232 GeoTIFF images
                  provider: Orbital Insight
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/Orbital_Insight/Truck_Detection/Truck_Algo_Avatar.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 300
                  version: 1.0.0-public+3
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities: []
                  tags:
                    - analytics
                    - detection
                    - machine learning
                    - object
                  isPublicVersion: true
                - id: ea459386-d2e1-4af2-b121-0b2cbe2314ef
                  displayId: ea459386
                  createdAt: '2019-07-26T13:09:35.055Z'
                  updatedAt: '2020-02-05T10:34:44.929Z'
                  name: building-detection
                  displayName: Building Detection Processing Block
                  description: This block detects building images
                  provider: Aventior
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/ea459386-d2e1-4af2-b121-0b2cbe2314ef/Building_Detection_Avatar_-_Aventior1580314515544.gif'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 200
                  version: 1.11.0
                  isPublic: true
                  isValid: true
                  inputCapabilities:
                    - name: up42.data.aoiclipped
                  outputCapabilities:
                    - name: custom.processing.build_detec
                  tags:
                    - analytics
                    - processing
                    - machine learning
                  isPublicVersion: true
                - id: 967dcedf-61bc-4fc9-99be-18463c1e85e6
                  displayId: 967dcedf
                  createdAt: '2019-07-29T07:54:26.101Z'
                  updatedAt: '2020-01-31T16:13:19.924Z'
                  name: change-detection
                  displayName: Change Detection
                  description: This is a processing block that detects changes on 512x512 GeoTIFF images
                  provider: Airbus
                  type: PROCESSING
                  metadata:
                    blockThumbnailUrl: 'https://metadata.up42.com/OneAtlas/Change_Detection/ico_CD_300px_black.png'
                    pricingStrategy:
                      type: SQUARE_KM_INPUT
                      credits: 300
                  version: 5.3.1
[...]
