openapi: 3.0.0
info:
  title: UP42 API
  description: >
    # Introduction

    This specification describes the UP42 public API. It is a work in
    progress and both updates and new endpoints are added as
    needed. If there is something that you would like to do with our
    API but is not listed here, then please write to
    [support@up42.com](mailto:support@up42.com) stating what you want
    to do via our API and we will support in setting things up so that
    we solve the issue at hand.

    The auhtoritaive source for the specification is available at
    [github](https://github.com/up42/openapi-specification).
    
  contact:
    name: API support
    email: support@up42.com
  version: '0.9'
  license:
    name: Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License
    url: href="http://creativecommons.org/licenses/by-nc-nd/4.0/
servers:
- url: https://api.up42.com
  variables: {}
paths:
  /projects/{project_id}/settings:
    get:
      tags:
      - projects
      summary: Get project settings
      description: >
        Get the project settings, i.e., the limits for AOI size in square km
        and number of simultanesouly running jobs for this project. 
      operationId: GetProjectSettings
      parameters:
      - name: project_id
        in: path
        required: true
        schema: 
          $ref: '#/components/schemas/ProjectID'
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  - id: cca028e6-4f24-4ea0-9564-d82ce80aac7d
                    createdAt: '2019-10-29T11:04:03.561Z'
                    updatedAt: '2019-10-29T11:04:03.561Z'
                    name: MAX_CONCURRENT_JOBS
                    value: '1'
                    range:
                      min: 1
                      max: 10
                    displayId: cca028e6
                  - id: c00d5803-76d7-4259-be17-ac5ae583f5cb
                    createdAt: '2019-10-29T11:04:03.562Z'
                    updatedAt: '2019-10-29T11:04:03.562Z'
                    name: JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
                    value: '10'
                    range:
                      min: 1
                      max: 20
                    displayId: c00d5803
                  - id: bf7d63d3-7ae0-40d3-9415-d1503a351dba
                    createdAt: '2019-10-29T11:04:03.562Z'
                    updatedAt: '2019-10-29T11:04:03.562Z'
                    name: JOB_QUERY_MAX_AOI_SIZE
                    value: '100'
                    range:
                      min: 1
                      max: 1000
                    displayId: bf7d63d3
        401:
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  code: UNAUTHORIZED
                  message: >
                    ACCESS_TOKEN_EXPIRED: JWT expired at 2019-11-29T11:54:38Z. 
                    Current time: 2019-11-29T15:07:30Z, a difference of 11572156
                    milliseconds.  Allowed clock skew: 0 milliseconds.
                  details: null
                data: null
      deprecated: false
    put:
      tags:
      - projects
      summary: Update project settings
      description: 'TODO: Add Description'
      operationId: UpdateProjectSettings
      parameters:
      - name: project_id
        in: path
        required: true
        schema: 
          $ref: '#/components/schemas/ProjectID'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateprojectsettingsRequest'
              description: ''
            example:
            - name: JOB_QUERY_MAX_AOI_SIZE
              value: 100
            - name: MAX_CONCURRENT_JOBS
              value: 100
            - name: JOB_QUERY_LIMIT_PARAMETER_MAX_VALUE
              value: 100
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
        401:
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  code: UNAUTHORIZED
                  message: >
                    ACCESS_TOKEN_EXPIRED: JWT expired at 2019-11-29T11:54:38Z. 
                    Current time: 2019-11-29T15:07:30Z, a difference of 11572156
                    milliseconds.  Allowed clock skew: 0 milliseconds.
                  details: null
                data: null
                
        404:
          description: Not Found
          content:
            application/json:
              example:
                error:
                  code: RESOURCE_NOT_FOUND
                  message: Project not found with id '1b0015e3-cc4f-4da6-9761-fba74ba57f69'
                  details: null
                data: null
      deprecated: false
  /projects/{project_id}/workflows:
    get:
      tags:
      - workflows
      summary: Get all project specific workflows
      description: >
        Get all the workflows for a given project
      operationId: GetWorkflows
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema: 
          $ref: '#/components/schemas/ProjectID'
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  - id: 1ef6c73a-a155-489e-9ec2-b073c6e74da9
                    name: S1 SLC
                    description: ''
                    createdAt: '2019-10-29T11:04:27.915Z'
                    updatedAt: '2019-10-29T11:04:38.973Z'
                    totalProcessingTime: 31
                  - id: a51a96a6-60bf-44c2-8936-b69b84711ba4
                    name: Pléaides download
                    description: ''
                    createdAt: '2019-10-29T13:32:31.460Z'
                    updatedAt: '2019-10-29T13:32:43.216Z'
                    totalProcessingTime: 152
                  - id: 266be679-37b9-4b28-948c-ffef3e4a91fd
                    name: 'Support ticket #175'
                    description: ''
                    createdAt: '2019-10-31T10:02:06.014Z'
                    updatedAt: '2019-10-31T10:02:13.517Z'
                    totalProcessingTime: 103
                  - id: b16f2676-1420-4146-b000-529b9ee2b724
                    name: Pléaides download + pan
                    description: ''
                    createdAt: '2019-10-31T10:16:39.325Z'
                    updatedAt: '2019-11-01T14:39:01.681Z'
                    totalProcessingTime: 173
                  - id: 72860ccb-836c-46cb-bf56-d6cf234ec2a8
                    name: Test multiple ndvi
                    description: ''
                    createdAt: '2019-10-31T12:11:07.788Z'
                    updatedAt: '2019-10-31T12:11:40.958Z'
                    totalProcessingTime: 0
                  - id: 17e8dc3e-2914-4011-a248-2d279d77f369
                    name: SPOT download
                    description: ''
                    createdAt: '2019-11-01T14:39:16.943Z'
                    updatedAt: '2019-11-25T15:43:36.325Z'
                    totalProcessingTime: 22
                  - id: 192b025e-75fe-4930-a611-ed08b66f8a5a
                    name: S2 AOI clipped sobloo
                    description: ''
                    createdAt: '2019-11-01T15:54:45.181Z'
                    updatedAt: '2019-11-01T15:55:17.171Z'
                  - id: ac5d9bca-7d85-46e8-ba25-90ac540b3964
                    name: Pléaides pansharpened NDVI
                    description: ''
                    createdAt: '2019-11-18T14:16:05.283Z'
                    updatedAt: '2019-11-18T15:12:07.944Z'
                    totalProcessingTime: 28
                  - id: 894ef5be-c576-4f18-8ef9-f26e9eb10d5b
                    name: S2 Sentinel Hub
                    description: ''
                    createdAt: '2019-11-19T13:43:26.022Z'
                    updatedAt: '2019-11-19T13:43:32.805Z'
                    totalProcessingTime: 642
                  - id: 18b2fc26-f56b-434f-9fcf-e53716442202
                    name: Sentinel 1 AOI clipped test
                    description: ''
                    createdAt: '2019-11-21T10:24:55.958Z'
                    updatedAt: '2019-11-21T10:25:26.027Z'
                    totalProcessingTime: 9
                  - id: 949cd962-4a5f-46a6-9d8a-64d15ccdd97b
                    name: S1 GRD
                    description: ''
                    createdAt: '2019-11-21T10:58:24.630Z'
                    updatedAt: '2019-11-21T10:58:40.514Z'
                    totalProcessingTime: 4709
        401:
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  code: UNAUTHORIZED
                  message: >
                    ACCESS_TOKEN_EXPIRED: JWT expired at 2019-11-29T11:54:38Z. 
                    Current time: 2019-11-29T15:07:30Z, a difference of 11572156
                    milliseconds.  Allowed clock skew: 0 milliseconds.
                  details: null
                data: null
      deprecated: false
    post:
      tags:
      - workflows
      summary: Create Workflow
      description: 'TODO: Add Description'
      operationId: CreateWorkflow
      parameters:
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
            example:
              name: workflow-test-name
              description: workflow test description
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
      deprecated: false
  /projects/{project_id}/workflows/{workflow_id}:
    get:
      tags:
      - workflows
      summary: Get a specific workflow
      description: 'TODO: Add Description'
      operationId: GetWorkflow
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        required: true
        schema: 
          $ref: '#/components/schemas/ProjectID'
      - name: workflow_id
        in: path
        required: true
        schema: 
          $ref: '#/components/schemas/WorkflowID'
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
                error: null
                data:
                  id: b16f2676-1420-4146-b000-529b9ee2b724
                  name: Pléaides download + pan
                  description: ''
                  createdAt: '2019-10-31T10:16:39.325Z'
                  updatedAt: '2019-11-01T14:39:01.681Z'
                  totalProcessingTime: 173
        401:
          description: Unauthorized
          content:
            application/json:
              example:
                error:
                  code: UNAUTHORIZED
                  message: > 
                    ACCESS_TOKEN_EXPIRED: JWT expired at 2019-11-29T15:42:05Z. Current time: 2019-11-29T16:45:55Z, 
                    a difference of 3830764 milliseconds.  Allowed clock skew: 0 milliseconds.
                  details: null
                data: null
        404:
          description: Not Found
          content:
            application/json:
              example: 
                error:
                  code: RESOURCE_NOT_FOUND
                  message: >
                    Workflow not found for id b16f2676-1420-4146-b000-529b9ee2b720
                    and projectId 1b0015e3-cc4f-4da6-9761-fba74ba57f67
                    and userId 8cd5de7b-82e2-4625-b094-d5392f1cf780
                  details: null
                data: null
      deprecated: false
    put:
      tags:
      - workflows
      summary: Update Workflow
      description: 'TODO: Add Description'
      operationId: UpdateWorkflow
      parameters:
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workflow_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowRequest'
            example:
              name: workflow-test-name
              description: workflow test description
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              example:
      deprecated: false
  /projects/{project_id}/workflows/{workflow_id}/tasks:
    post:
      tags:
      - workflows
      summary: Create workflow tasks
      description: 'TODO: Add Description'
      operationId: CreateWorkflowTasks
      parameters:
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workflow_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateworkflowtasksRequest'
              description: ''
            example:
            - name: task1
              parentName: 
              blockName: one-atlas/basemap
            - name: task2
              parentName: task1
              blockName: dabeeo/roof-detection
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    get:
      tags:
      - workflows
      summary: Get Workflow tasks
      description: 'TODO: Add Description'
      operationId: GetWorkflowTasks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workflow_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs:
    get:
      tags:
      - jobs
      summary: Get Jobs
      description: 'TODO: Add Description'
      operationId: GetJobs
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/workflows/{workflow_id}/jobs:
    post:
      tags:
      - jobs
      summary: Create and Run Job
      description: 'TODO: Add Description'
      operationId: CreateAndRunJob
      parameters:
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: workflow_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateandRunJobRequest'
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs/{job_id}:
    get:
      tags:
      - jobs
      summary: Get Job
      description: 'TODO: Add Description'
      operationId: GetJob
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs/{job_id}/tasks:
    get:
      tags:
      - jobs
      summary: Get Job tasks
      description: 'TODO: Add Description'
      operationId: GetJobTasks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /jobs/{job_id}/cancel:
    post:
      tags:
      - jobs
      summary: Cancel Job
      description: 'TODO: Add Description'
      operationId: CancelJob
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs/{job_id}/outputs/data-json:
    get:
      tags:
      - job_extras
      summary: Get Job Outputs - data.json
      description: 'TODO: Add Description'
      operationId: Get job outputs  data.json
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs/{job_id}/downloads/results:
    get:
      tags:
      - job_extras
      summary: Get Job Outputs - signed url
      description: Downloads the job results tarball URL delivered as a field in the JSON through this call.
      operationId: Get job outputs  signed url
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/logs:
    get:
      tags:
      - job_extras
      summary: Get Job Task Logs
      description: 'TODO: Add Description'
      operationId: GetJobTaskLogs
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /projects/{project_id}/jobs/{job_id}/tasks/{task_id}/outputs/data-json:
    get:
      tags:
      - job_extras
      summary: Get Job Task Outputs - data.json
      description: 'TODO: Add Description'
      operationId: Get job task outputs  data.json
      parameters:
      - name: Accept
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: text/plain,application/json
      - name: project_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: job_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      - name: task_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /blocks:
    get:
      tags:
      - blocks
      summary: Get Public Blocks
      description: 'TODO: Add Description'
      operationId: GetPublicBlocks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /blocks/{block_id}:
    get:
      tags:
      - blocks
      summary: Get Public Block detail
      description: 'TODO: Add Description'
      operationId: GetPublicBlockDetail
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: block_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /marketplace/blocks:
    get:
      tags:
      - blocks
      summary: Get Marketplace Blocks
      description: Public endpoint to get blocks for the marketplace
      operationId: GetMarketplaceBlocks
      parameters: []
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /users/me/blocks:
    get:
      tags:
      - blocks_custom
      summary: Get Custom Blocks
      description: 'TODO: Add Description'
      operationId: GetCustomBlocks
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /users/me/blocks/{block_id}:
    get:
      tags:
      - blocks_custom
      summary: Get Custom Block Detail
      description: 'TODO: Add Description'
      operationId: GetCustomBlockDetail
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: block_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
    delete:
      tags:
      - blocks_custom
      summary: Delete Custom Block
      description: 'TODO: Add Description'
      operationId: DeleteCustomBlock
      parameters:
      - name: Content-Type
        in: header
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      - name: block_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
  /validate-schema/block:
    post:
      tags:
      - blocks_custom
      summary: Validate Blocks Manifest
      description: 'TODO: Add Description'
      operationId: ValidateBlocksManifest
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateBlocksManifestRequest'
            example:
              _up42_specification_version: 1
              name: sentinel2-aoiclipped
              type: data
              tags:
              - Sentinel
              - Sentinel-2
              - MSI
              - Imagery
              - L2A
              - BOA
              display_name: Sentinel-2 Level 2 (BOA) AOI clipped
              description: This block provides Sentinel-2 imagery clipped to all webmercator tiles intersecting a given bounding box or AOI on a given zoom level. The part of the image that does not intersect with these tiles will be black. The block outputs a single GeoTIFF file and will store the AOI within the output feature geometry.
              parameters:
                bbox:
                  type: string
                  default: 
                intersects:
                  type: geometry
                time:
                  type: dateRange
                  default: 
                limit:
                  type: number
                  default: 1
                zoom_level:
                  type: number
                  default: 17
              machine:
                type: large
              internal:
                dry_run_supported: true
              input_capabilities:
                custom.this.is.my.capability: {}
              output_capabilities:
                up42.data.aoiclipped: {}
        required: true
      responses:
        200:
          description: ''
          headers: {}
      deprecated: false
      servers:
      - url: http://example.com
        variables: {}
components:
  schemas:
    UpdateprojectsettingsRequest:
      title: UpdateprojectsettingsRequest
      required:
      - name
      - value
      type: object
      properties:
        name:
          type: string
        value:
          type: string
      example:
        name: JOB_QUERY_MAX_AOI_SIZE
        value: 100
    CreateWorkflowRequest:
      title: CreateWorkflowRequest
      required:
      - name
      - description
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      example:
        name: workflow-test-name
        description: workflow test description
    CreateworkflowtasksRequest:
      title: CreateworkflowtasksRequest
      required:
      - name
      - parentName
      - blockName
      type: object
      properties:
        name:
          type: string
        parentName:
          type: string
          nullable: true
        blockName:
          type: string
      example:
        name: task1
        parentName: 
        blockName: one-atlas/basemap
    UpdateWorkflowRequest:
      title: UpdateWorkflowRequest
      required:
      - name
      - description
      type: object
      properties:
        name:
          type: string
        description:
          type: string
      example:
        name: workflow-test-name
        description: workflow test description
    CreateandRunJobRequest:
      title: CreateandRunJobRequest
      required:
      - oneatlas-spot-aoiclipped:1
      - tiling:1
      type: object
      properties:
        oneatlas-spot-aoiclipped:1:
          $ref: '#/components/schemas/OneatlasSpotAoiclipped1'
        tiling:1:
          $ref: '#/components/schemas/Tiling1'
    OneatlasSpotAoiclipped1:
      title: OneatlasSpotAoiclipped1
      required:
      - bbox
      - time
      - limit
      - intersects
      - zoom_level
      type: object
      properties:
        bbox:
          type: string
          nullable: true
        time:
          type: string
          nullable: true
        limit:
          type: integer
          format: int32
        intersects:
          $ref: '#/components/schemas/Intersects'
        zoom_level:
          type: integer
          format: int32
    Intersects:
      title: Intersects
      required:
      - type
      - coordinates
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            items:
              type: number
    Tiling1:
      title: Tiling1
      required:
      - tile_width
      - tile_height
      - output_prefix
      - augmentation_factor
      type: object
      properties:
        tile_width:
          type: integer
          format: int32
        tile_height:
          type: integer
          format: int32
        output_prefix:
          type: string
        augmentation_factor:
          type: integer
          format: int32
      example:
        tile_width: 768
        tile_height: 768
        output_prefix: ''
        augmentation_factor: 1
    ValidateBlocksManifestRequest:
      title: ValidateBlocksManifestRequest
      required:
      - _up42_specification_version
      - name
      - type
      - tags
      - display_name
      - description
      - parameters
      - machine
      - internal
      - input_capabilities
      - output_capabilities
      type: object
      properties:
        _up42_specification_version:
          type: integer
          format: int32
        name:
          type: string
        type:
          type: string
        tags:
          type: array
          items:
            type: string
          description: ''
        display_name:
          type: string
        description:
          type: string
        parameters:
          $ref: '#/components/schemas/Parameters'
        machine:
          $ref: '#/components/schemas/Machine'
        internal:
          $ref: '#/components/schemas/Internal'
        input_capabilities:
          $ref: '#/components/schemas/InputCapabilities'
        output_capabilities:
          $ref: '#/components/schemas/OutputCapabilities'
      example:
        _up42_specification_version: 1
        name: sentinel2-aoiclipped
        type: data
        tags:
        - Sentinel
        - Sentinel-2
        - MSI
        - Imagery
        - L2A
        - BOA
        display_name: Sentinel-2 Level 2 (BOA) AOI clipped
        description: This block provides Sentinel-2 imagery clipped to all webmercator tiles intersecting a given bounding box or AOI on a given zoom level. The part of the image that does not intersect with these tiles will be black. The block outputs a single GeoTIFF file and will store the AOI within the output feature geometry.
        parameters:
          bbox:
            type: string
            default: 
          intersects:
            type: geometry
          time:
            type: dateRange
            default: 
          limit:
            type: number
            default: 1
          zoom_level:
            type: number
            default: 17
        machine:
          type: large
        internal:
          dry_run_supported: true
        input_capabilities:
          custom.this.is.my.capability: {}
        output_capabilities:
          up42.data.aoiclipped: {}
    Parameters:
      title: Parameters
      required:
      - bbox
      - intersects
      - time
      - limit
      - zoom_level
      type: object
      properties:
        bbox:
          $ref: '#/components/schemas/Bbox'
        intersects:
          $ref: '#/components/schemas/Intersects1'
        time:
          $ref: '#/components/schemas/Time'
        limit:
          $ref: '#/components/schemas/Limit'
        zoom_level:
          $ref: '#/components/schemas/ZoomLevel'
      example:
        bbox:
          type: string
          default: 
        intersects:
          type: geometry
        time:
          type: dateRange
          default: 
        limit:
          type: number
          default: 1
        zoom_level:
          type: number
          default: 17
    Bbox:
      title: Bbox
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: string
          nullable: true
      example:
        type: string
        default: 
    Intersects1:
      title: Intersects1
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example:
        type: geometry
    Time:
      title: Time
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: string
          nullable: true
      example:
        type: dateRange
        default: 
    Limit:
      title: Limit
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: integer
          format: int32
      example:
        type: number
        default: 1
    ZoomLevel:
      title: ZoomLevel
      description: ''
      required:
      - type
      - default
      type: object
      properties:
        type:
          type: string
        default:
          type: integer
          format: int32
      example:
        type: number
        default: 17
    Machine:
      title: Machine
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example:
        type: large
    Internal:
      title: Internal
      required:
      - dry_run_supported
      type: object
      properties:
        dry_run_supported:
          type: boolean
      example:
        dry_run_supported: true
    InputCapabilities:
      title: InputCapabilities
      required:
      - custom.this.is.my.capability
      type: object
      properties:
        custom.this.is.my.capability:
          type: object
      example:
        custom.this.is.my.capability: {}
    OutputCapabilities:
      title: OutputCapabilities
      required:
      - up42.data.aoiclipped
      type: object
      properties:
        up42.data.aoiclipped:
          type: object
      example:
        up42.data.aoiclipped: {}
    ProjectID:
      title: ProjectID
      description: >
        The project ID is the string that appears in the URL when in
        the console, e.g., https://console.up42.com/projects/1b0015e3-cc4f-4da6-9761-fba74ba57f67
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example: 1b0015e3-cc4f-4da6-9761-fba74ba57f67
    WorkflowID:
      title: WorkflowID
      description: >
        The workflow ID is the UUID for a specific workflow, e.g., in the URL
        https://console.up42.com/projects/1b0015e3-cc4f-4da6-9761-fba74ba57f67/workflows/b16f2676-1420-4146-b000-529b9ee2b724
      required:
      - type
      type: object
      properties:
        type:
          type: string
      example: b16f2676-1420-4146-b000-529b9ee2b724 
  securitySchemes:
    httpBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT  
security:
- httpBearer: []
tags:
- name: projects
- name: workflows
- name: jobs
- name: job_extras
- name: blocks
- name: blocks_custom
- name: credits
  description: ''
